.pokemon-overview-table {
  margin: 1em 0;
  min-width: 500px;
}

.pokemon-overview-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.pokemon-overview-table th {
  display: none;
}

.pokemon-overview-table td {
  display: block;
}

.pokemon-overview-table td:first-child {
  padding-top: .5em;
}

.pokemon-overview-table td:last-child {
  padding-bottom: .5em;
}

.pokemon-overview-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .pokemon-overview-table td:before {
    display: none;
  }
}
.pokemon-overview-table th, .pokemon-overview-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .pokemon-overview-table th, .pokemon-overview-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .pokemon-overview-table th:first-child, .pokemon-overview-table td:first-child {
    padding-left: 0;
  }
  .pokemon-overview-table th:last-child, .pokemon-overview-table td:last-child {
    padding-right: 0;
  }
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.pokemon-overview-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.pokemon-overview-table tr {
  border-color: #46637f;
}

.pokemon-overview-table th, .pokemon-overview-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .pokemon-overview-table th, .pokemon-overview-table td {
    padding: 0.7em !important;
  }
}

.pokemon-overview-table th, .pokemon-overview-table td:before {
  color: #dd5;
}

.pokemon-color {
  position: relative;
}

.pokemon-color > div {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  position: absolute;
  border: 2px solid BLACK;
}

.pokemon-first-row {
  cursor: pointer;
}

.pokemon-first-row:hover {
  background-color: gray;
}

.pokemon-first-row, .pokemon-second-row {
  border: 1px solid white;
}


.pokemon-name-input, .pokemon-type-input, .pokemon-color-input {
  display: block;
  margin: 3px;
}